@model IEnumerable<ShopWeb.Data.Dtos.SuppliersAddDto>

@{
    ViewData["Title"] = "Lista de Suplidores";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           <th>
                @Html.DisplayNameFor(model => model.supplierid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyname)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Contactname)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.contacttitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
           
            @**   <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postalcode)
            </th> *@

            <th> 
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creation_user)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.supplierid)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contacttitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_user)
            </td>
            
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.supplierid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.supplierid }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
