@model ShopWeb.Data.Dtos.CategoriesRemoveDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CategoriesRemoveDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.delete_user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.delete_user)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.delete_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.delete_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
