@model IEnumerable<ShopWeb.Data.Dtos.ProductsAddDto>

@{
    ViewData["Title"] = "Lista de Productos";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discontinued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unitprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_user)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.productid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.productid }) |
             
        </tr>
}
    </tbody>
</table>
